<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="PPOK_Refill_System_Service.PPOK_Refill_System_Service" behaviorConfiguration="mexBehaviour">
                <endpoint address="PPOK_Refill_System_Service" 
                          binding="basicHttpBinding"
                          contract="PPOK_Refill_System_Service.IPPOK_Refill_System_Service">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <connectionStrings>
      <add name="wcfConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" />
    </connectionStrings>
</configuration>
