@model Web.Models.PatientsViewModel

@{
    ViewBag.Title = "Patients";
}

<div class="row">
    <div class="col-md-3">
        <h3>Patients</h3>
    </div>
    <div class="col-md-3 col-md-offset-6">
        <br/>
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" placeholder="Search patient" id="textSearch" />
        </div>
    </div>
</div>
<hr />
<table id="patients-table" class="table dt-responsive wrap" cellspacing="3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Birth date</th>
            <th>Address</th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            { Html.RenderPartial("Patient", patient); }
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/ppok-refill-system.js?Build=@Guid.NewGuid().ToString()"></script>
    <script>
        $(document).ready(function () {

            var oTable = $('#patients-table').DataTable({
                "columnDefs": [{ "orderable": false, "targets": ['active', 'action'] }]
            });
            $('#textSearch').keyup(function ()
                {
                    oTable.search($(this).val()).draw();
                }
            );
        });
    </script>
}