@model Web.Models.RecallLinesViewModel

@{
    ViewBag.Title = "Recall";
}

<h3>Recalls</h3>
<hr />

<div id="processing-bar" hidden>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            <span id="status">Processing...</span>
        </div>
    </div>
</div>

@using (Html.BeginForm("ImportRecalls", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 new-import">
            <h3>Import Recall File</h3>
            <div class="form-group">
                <label class="import-element" for="browse">Browse A File From You Computer</label>
                <input class="form-control" type="file" id="dataFile" name="upload" />
                <div class="import-error-message import-element">
                    @Html.ValidationSummary(true)
                </div>

                <br />
                <div id="submitFile">
                    <input class="form-control btn btn-default" type="submit" value="Import" id="Import-button" />
                </div>
            </div>
        </div>
    </div>
}

<div id="imported-recalls">
</div>

@section scripts
{
    <script>
        $('#Import-button').on('click', function () {
            if (document.getElementById("dataFile").value) {
                $('#processing-bar').show();
                $('.import-error-message .import-element').empty();
                $('#uploadSucess').empty();
            }
        });
    </script>
}