@model Web.Models.RecallLinesViewModel

@if (Model.Recalls.Count != 0)
{

    <div class="row">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Review the uploaded file and send the recall messages</p>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="pull-left">
                            @Html.ActionLink("Send recall messages", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })
                        </span>
                        <span class="pull-right">
                            <input type="text" class="form-control input-sm" placeholder="Search ..." id="pending_refills_table_Search" style="border-bottom-color:black" />
                        </span>
                    </p>
                </div>
                <div class="panel-footer">
                    <table id="recalls-table" class="table dt-responsive wrap" cellspacing="3">
                        <thead>
                            <tr>
                                <th class="action">
                                    <input type="checkbox" value="" class="home-table-checkbox" />
                                </th>
                                <th>Name</th>
                                <th>Medecine</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var recall in Model.Recalls)
                             {
                                { Html.RenderPartial("_RecallLinePartial", recall); }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}