@model Web.Models.PharmacistsViewModel

@{
    ViewBag.Title = "Pharmacists";
}

<h3>Pharmacists</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Add a pharmacist", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", id = "registerLink" })
    </div>
    <div class="col-md-3 col-md-offset-5">
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for pharmacist"  id="textSearch"/>
        </div>
    </div>
</div>
<hr />

<table id="pharmacists-table" class="table dt-responsive wrap" cellspacing="3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Birth date</th>
            <th>Address</th>
            <th class="active">Active</th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pharmacist in Model.Pharmacists)
        {
            { Html.RenderPartial("_PharmacistPartial", pharmacist); }
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/ppok-refill-system.js?Build=@Guid.NewGuid().ToString()"></script>
    <script>
        $(document).ready(function () {
            
            var oTable = $('#pharmacists-table').DataTable({
                paging: false,
                "columnDefs": [{ "orderable": false, "targets": ['active', 'action'] }]
            });
            $('#textSearch').keyup(function ()
                {
                    oTable.search($(this).val()).draw();
                }
            );
        });
    </script>
}

