
@{
    ViewBag.Title = "Templates";
}

<h3>Message Templates</h3>
<hr/>
<ul class="nav nav-tabs nav-justified">
    <li class="active">
        <a href="#refill-tab" data-toggle="tab">Refill</a>
    </li>
    <li>
        <a href="#pickup-tab" data-toggle="tab">Pick up</a>
    </li>
    <li>
        <a href="#recall-tab" data-toggle="tab">Recall</a>
    </li>
    <li>
        <a href="#birthday-tab" data-toggle="tab">Birthday</a>
    </li>
</ul>

<div class="tab-content">
    <div id="refill-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate");}
    </div>
    <div id="pickup-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate");}
    </div>
    <div id="recall-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate");}
    </div>
    <div id="birthday-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate");}
    </div>
</div>
