
@using ppok_refill.Models;
@model IEnumerable<ppok_refill.Models.Template>


@{
    ViewBag.Title = "Templates";
 }

@functions{

    public List<Template> getMsgsForAMsgType(string msgType)
    {
        List<Template> templates = new List<Template>();
        foreach (var item in Model)
        {
            if (item.templateType.Temp_Type_Name== msgType)
            {
                templates.Add(item);
            }
        }
        return templates;
    }
}
<h3>Message Templates</h3>
<hr/>

<ul class="nav nav-tabs nav-justified">
    <li>
        <a href="#refill-tab" data-toggle="tab">Refill</a>
    </li>
    <li>
        <a href="#pickup-tab" data-toggle="tab">Pick up</a>
    </li>
    <li>
        <a href="#recall-tab" data-toggle="tab">Recall</a>
    </li>
    <li>
        <a href="#birthday-tab" data-toggle="tab">Birthday</a>
    </li>
</ul>

<div class="tab-content">
    <div id="refill-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate",getMsgsForAMsgType("REFILL"));}
    </div>
    <div id="pickup-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate", getMsgsForAMsgType("REFILL_CONFIRMED"));}
    </div>
    <div id="recall-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate", getMsgsForAMsgType("RECALL"));}
    </div>
    <div id="birthday-tab" class="tab-pane">
        @{ Html.RenderPartial("_MessageTemplate", getMsgsForAMsgType("BIRTHDAY"));}
    </div>
</div>
 
