#login-page-title {
    text-align:center;
}

#pharmacists-table_filter, 
#patients-table_filter, 
#pending-refills-table_filter, 
#daily-refills-table_filter
{
    display:none;
}

#pharmacists-table tbody tr .td-active, 
#pharmacists-table thead tr .active, 
#pharmacists-table tbody tr .td-action, 
#pharmacists-table thead tr .action,
#birthday-tab-message-table thead .th-message-template 
{
    text-align:center;
}

.home-table-checkbox{
    text-align:left;
}


textarea {
    max-width: initial;
    min-height: 200px;
}

