body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* this section is for the import page */
.import .submit-button {
    width: 25%;
}
.import .import-element {
    margin-top: 20px;
}
.import .import-error-message {
    color: #b81e0d;
}

.import .import-error-message ul {
    list-style-type: none;
    padding-left: 0px;
}

.import .import-error-message ul li {
    padding-left: 0px;
}

.import .new-import{
    padding: 10px;
}
.import .new-import-content {
    background: #f5f5f5;
    border: solid #ddd 1px;
    padding: 20px;
}

.import .old-imports{
    padding: 10px;
}

.import .old-imports-content {
    background: #f5f5f5;
    border: solid #ddd 1px;
    padding: 20px;
}

.import .old-imports-content .list-title {
    margin-bottom: 30px;
}

table.dataTable thead .sorting_asc {
    background-image: none;
}
